* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #fbfbfb;
}

@font-face {
  font-family: 'PokemonClassic';
  src: url('/fonts/PokemonClassic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
